body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    color: #444;
}

button {
    background-color: #008CBA; /* Blaue Farbe für die Buttons */
    color: white; /* Weiße Schriftfarbe */
    border: none; /* Keine Umrandung */
    padding: 10px 20px; /* Innenabstand */
    margin: 5px; /* Abstand zwischen den Buttons */
    cursor: pointer; /* Handzeiger beim Überfahren */
    font-size: 16px; /* Schriftgröße */
    border-radius: 5px; /* Abgerundete Ecken */
    transition: background-color 0.3s; /* Sanfter Übergang für die Hintergrundfarbe */
}

button:hover {
    background-color: #005f73; /* Dunklere Farbe bei Hover */
}

button.selected {
    background-color: #4CAF50; /* Grüne Farbe für ausgewählte Buttons */
    color: white; /* Weiße Schriftfarbe */
    border: 2px solid #388E3C; /* Dunkelgrüne Umrandung */
}

#results-container {
    margin-top: 20px;
    background-color: #ffffff; /* Weiße Hintergrundfarbe für Ergebnisse */
    padding: 20px; /* Innenabstand */
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatteneffekt */
}
